/* Estilos globales */
* {
    font-family: roboto;
    background-color: #17223b;
    color: aliceblue;
}

/* Contenedor principal */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cajas con estilos */
.box {
    width: 90%;
    /* Cambia el ancho al 100% para ocupar todo el ancho del contenedor */
    height: 200px;
    padding: 18px;
    margin: 30px 0;
    border-radius: 30px;
}

.box.a {
    background-color: #9575cd;
}

.box.b {
    background-color: #673ab7;
}

.box.c {
    background-color: #512da8;
}

.box.d {
    background-color: #432588;
}

/* Spinner animado */
.spinner {
    margin: 30px auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ccc;
    animation: spin 1.0s linear infinite;
    border-bottom-color: #614ad3;
}

/* Degradado */
.box.e {
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .box {
        height: 150px;
        /* Ajusta la altura para pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    .box {
        height: 150px;
        /* Ajusta la altura para pantallas más pequeñas */
    }
}