<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/templates/style.css">
    <title>JavaScript-Python 🎨🖌️</title>
</head>

<body>
    <h1>Dibuja con el Mouse 🎨🖌️🐁</h1>
    <p id="message">Cada vez que clickeas con el click derecho pintarás la pantalla, <br>
        pero si presionas el click
        izquierdo borrarás lo que dibujaste en la pantalla.</p>
    <label for="brushSize">Tamaño del pincel: </label>
    <input type="range" id="brushSize" min="1" max="50" value="2">
    <canvas id="box"></canvas>
    <script src="../static/main.js"></script>
</body>

</html>