* {
    font-family: roboto;
    background-color: #17223b;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
background-color: #17223b;
    width: 90%;
    height: 200px;
    padding: 18px;
    margin: 30px auto;
    border-radius: 30px;
}

/* Canvas para ocupar toda la pantalla */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
    background-color: #17223b;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* Estilo para el mensaje */
#message {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

/* Estilo para la barra de tamaño del pincel */
input[type="range"] {
    -webkit-appearance: none;
    appearance: standar;
    /* Quitar el estilo por defecto */
    width: 100%;
    height: 15px;
    background: #444;
    /* Fondo de la barra */
    border-radius: 5px;
    outline: none;
    /* Quitar el borde de enfoque */
    margin: 20px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Quitar el estilo por defecto */
    appearance: none;
    /* Quitar el estilo por defecto */
    width: 25px;
    /* Tamaño del thumb */
    height: 25px;
    border-radius: 50%;
    /* Forma circular */
    background: #ffcc00;
    /* Color del thumb */
    cursor: pointer;
    /* Cambiar cursor al pasar sobre el thumb */
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffcc00;
    cursor: pointer;
}

/* Canvas para ocupar toda la pantalla */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .box {
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    .box {
        height: 150px;
    }
}